@import './reset/index.scss';
@import 'base.scss';
// @import '../iconfont/iconfont.css';
// @import 'https://at.alicdn.com/t/font_1034795_lcs5t1atq5.css';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1;
  background-color: #FFF
}



