
.main-component {
  background: rgba(248,248,248,1);
  min-height: 100%;
  height: calc(100% - 88px);
  overflow-y: auto;
  background-color: #F5F5F5;
  // width: 1100px;
  .main-component-router {
  //  margin-top: 50px;
    height: 100%;
  }
}
