
.tree-select-component {
  $confirmAreaHeight: 118px;
  @mixin card-item-check-button() {
    background-position: center center;
    background-repeat: no-repeat;
    width: 46px;
    height: 100%;
    margin-right: 20px;
    background-size: 44px 44px;
  }

  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #FFF;
  .total {
    color: #000;
  }
  .top-area {
    background: #F5F5F5;
    height: 152px;
    padding: 16px 30px 0 30px;
    .search-input {
      background:rgba(255,255,255,1);
      width:690px;
      height:56px;
      line-height: 56px;
      border-radius:28px;
      margin-bottom: 36px;
      font-size: 30px;
    }
    .bread {
      width: 100%;
      font-size: 24px;
      color: #999999;
      .bread-content {
        white-space: nowrap;
        overflow-y: auto;
      }
      .bread-item {
        display: inline-block;
        &::after {
          content: '>';
          margin: 0 8px;
        }
        &.current-item {
          color: #D40001;
          &::after {
            content: '';
          }
        }
      }
    }
  }
  .columns {
    position: absolute;
    top: 152px;
    bottom: $confirmAreaHeight + 20;
    overflow: scroll;
    background: #F5F5F5;
    width: 100%;
    font-size: 20px;

    display: flex;
    flex-flow: nowrap;
    overflow: hidden;
    &.search-list {
      top: 108px;
      z-index: 4;
    }
    .column {
      position: absolute;
      background: #FFF;
      height: 100%;
      overflow: auto;
      // &:first-child {
      //   background: #EEEEEE;
      // }
      // &:nth-child(2) {
      //   background: #F7F7F7;
      // }

      // &:last-child {
      //   .card-item-header {
      //     border-bottom: 1px solid #DDDDDD;
      //   }
      // }

      .card-item {
        display: inline-block;
        padding-left: 30px;

        &.selected {
          background: #FFF;
        }
        // &:before {
        //   display: inline-block;
        //   vertical-align: bottom;
        //   content: '';
        //   width: 30px;
        //   height: 100px;
        // }
        .card-item-header {
          position: relative;
          display: flex;
          flex-flow: nowrap;
          align-items: center;
          justify-content: space-between;
          // width: calc(100% - 30px);
          height: 100px;
          // padding: 20px 20px 20px 0;
          border-bottom: 1px solid #DDDDDD;
          font-size: 26px;
          .name {
            width: calc(100% - 40px)
          }
          .selected {
            font-size: 36px;
            color: #108EE9;
          }

          .card-item-radio {
            @include card-item-check-button
            background-image: url(./images/icon-radio-normal@2x.png);
            &.checked {
              background-image: url(./images/icon-radio-checked@2x.png);
            }
          }
          .card-item-checkbox {
            @include card-item-check-button
            background-image: url(./images/icon-radio-normal@2x.png);
            &.checked {
              background-image: url(./images/icon-checkbox-checked@2x.png);
            }
          }
          .name {
            display: flex;
            flex-flow: nowrap;
            align-items: center;
            font-size: 34px;
            color: #333333;
            .id {
              margin-left: 10px;
            }
          }
          .arrow {
            position: absolute;
            right: 30px;
            background-image: url(./images/icon-right-arrow@2x.png);
            background-size: 18px auto;
            background-repeat: no-repeat;
            background-position: center center;

            width: 44px;
            height: 44px;
            &.test-mode {
              right: 330px;
            }
          }
        }
        &:last-child {
          .card-item-header {
            border-bottom: none;
          }
        }
      }
    }
  }
  .search-result-list {
    top: 88px;
    bottom: $confirmAreaHeight + 20;
    z-index: 100;
    &.test-mode {
      top: 0;
      right: -500px;
    }
  }
  .confirm-area {
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    background: #F5F5F5;
    height: $confirmAreaHeight;
    .selected-items {
      width: 600px;
      height: 100%;
      overflow: hidden;
      .content {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        overflow: scroll;
        height: 100%;
        padding-left: 10px;
        padding-right: 30px;
        font-size: 24px;
        .select-item {
          margin-right: 20px;
          text-align: center;
          .portrait {
            margin-right: 0;
          }
          .name {
            margin-top: 10px;
            white-space: nowrap;
          }
        }
      }
    }
    .btn-confirm {
      width: 150px;
      font-size: 32px;
      color: #D40001;
    }
  }

  .portrait {
    display: inline-block;
    background: #D40001;
    width:60px;
    height:60px;
    line-height: 60px;
    border-radius: 100%;
    margin-right: 20px;
    text-align: center;
    color: #FFF;
  }
}
