.home-bussinessRemind-component {
  height: calc(100% - 86px);
  overflow-y: auto;
  background-color: #F5F5F5;
  .bussinessRemind-list {
    padding-left: 30px;
    background-color: #FFF;
    .bussinessRemind-item {
      padding: 30px 0;
      border-bottom: 1px solid #E6E6E6;
      .first-row {
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 30px;
          color: #333;
        }
        .time {
          font-size: 24px;
          color: #BDBDBD;
          margin-right: 30px;
        }
      }
      .second-row {
        margin: 24px 0;
        font-size: 26px;
        color: #999;
      }
      .third-row {
        display: flex;
        flex-flow: row;
        .customerType {
          background:rgba(0,118,255,0.1);
          border-radius:8px;
          border:1px solid rgba(0,118,255,0.5);
          font-size: 24px;
          color: #0076FF;
          margin-right: 12px;
          padding: 8px 12px;
        }
        .customerType-hangwai {
          background:rgba(255,157,19,0.1);
          border-radius:8px;
          border:1px solid rgba(255,157,19,0.5);
          font-size: 24px;
          color: #FF9D13;
        }
        .companyName {
          background:rgba(255,97,97,0.1);
          border-radius:8px;
          border:1px solid rgba(255,97,97,0.5);
          font-size: 24px;
          color: #FF6161;
          padding: 8px 12px;
        }
      }
    }
  }
}
