.home-newCustomer-component {
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 16px;
  padding-left: 30px;
  .customer-item {
    height: 208px;

    .top {
      height: 104px;
      display: flex;
      .avatar {
        width: 72px;
        height: 72px;
        background: linear-gradient(
          270deg,
          rgba(233, 68, 68, 1) 0%,
          rgba(255, 140, 168, 1) 100%
        );
        border-radius: 50px;
        margin: 18px 0;
        text-align: center;
        line-height: 72px;
        font-size: 40px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
      .content {
        flex: 1;
        padding: 20px 0 20px 20px;
        .name {
          font-size: 30px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          margin-bottom: 10px;
        }
        .tag {
          span {
            background: rgba(67, 202, 116, 0.1);
            border-radius: 16px;
            border: 1px solid rgba(67, 202, 116, 1);
            padding: 1px 10px;
            margin-right: 10px;
            color: rgba(67, 202, 116, 1);
          }
        }
      }
    }
    .bottom {
      height: 104px;
      display: flex;
      padding-top: 10px;
      margin-left: 92px;
      border-bottom: 1px solid #e6e6e6;
      .item {
        flex: 1;
        .value{
          color: #333;
        }
        .title {
          color: rgba(189, 189, 189, 1);
          margin-top: 5px;
        }
      }
    }
    &:last-child {
      .bottom {
        border-bottom: none;
      }
    }
  }
}
