.home-evaluation-component {
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 16px;
  padding-left: 30px;
  .tab-content {
    width: 70%;
    height: 84px;
    display: flex;
    .item {
      flex: 1;
      border-right: 1px solid #e6e6e6;
      font-size: 28px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      margin: 20px 0;
      line-height: 44px;
      text-align: center;
      &:last-child {
        border-right: none;
      }
      &.active {
        font-weight: 600;
        color: rgba(13, 122, 255, 1);
      }
    }
  }
  .date-content {
    padding-right: 30px;
    height: 490px;
    // display: flex;
    .date-item {
      // flex: 1;
      float: left;
      width: 33.3%;
      height: 136px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      margin-top: 16px;
      padding: 30px;
      .score {
        font-size: 24px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
      .number {
        font-size: 36px;
        font-weight: 500;
        margin-top: 20px;
        .unit {
          font-size: 24px;
          font-weight: 400;
          margin-left: 10px;
        }
      }
      // border: 1px solid #e6e6e6;
    }
  }
  .no-data-wapper {
    padding-bottom: 30px;
    text-align: center;
    .no-data {
      width: 349px;
      height: 349px;
    }
    p {
      font-size: 28px;
    }
  }
}
