@import "../../assets/css/common.scss";

.search-page-component {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .search-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 86px);
    overflow-y: auto;
    background-color: #fff;
  }
  .search-page-head {
    background: #FFF;
    height: 86px;
    line-height: 86px;
    width: 100%;
    padding-left: 30px;
    text-align: center;
    .search-page-input {
      height: 86px;
      line-height: 86px;
      font-size: 30px;
      font-weight: 400;
      text-align: left;
      background-color: #FFF;
      .attach {
        position: absolute;
        top: 0;
        left: 54px;
        .search-icon {
          width: 30px;
          height: 30px;
          color: #BBBBBB;
          font-size: 30px;
        }
      }
      .delete-attach {
        position: absolute;
        top: 0;
        right: 150px;
        .delete-icon {
          width: 30px;
          height: 30px;
          color: #BBBBBB;
          font-size: 45px;
        }
      }
      .search-input {
        width: 606px;
        height: 56px;
        background: #F7F7F7;
        border-radius: 28px;
        line-height: 56px;
        text-align: left;
        padding-left: 58px;
        border: none;
        caret-color: $primary-color;
      }
      .search-cancel {
        display: inline-block;
        margin-left: 30px;
        color: #333333;
      }
      .search-confirm {
        display: inline-block;
        margin-left: 30px;
        color: #333333;
      }
    }
  }
  .search-content{
    background: #fff;
    font-size: 28px;
    .search-wrapper{
      height: 80px;
      line-height: 80px;
      .left{
        float: left;
        color: #999999;
        margin-left: 30px;
      }
      .right{
        float: right;
        color: #D40001;
        margin-right: 30px;
      }
    }
    .search-date{
      border-top: 1px solid #ddd;
      color: #666;
      .list-item{
        position: relative;
      }
      .date-icon{
        color: #999;
        font-size: 40px;
        vertical-align: middle;
        margin-right: 20px;
      }
      .text{
        font-size:28px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(102,102,102,1);
      }
    }
    .btn-area{
      .btn {
        display: inline-block;
        width: 100%;
        height: 88px;
        line-height: 88px;
        font-size: 32px;
        text-align: center;
      }
      .btn-reset {
        width: 50%;
        background: #E5E5E5;
        color: #666666;
      }
      .btn-confirm {
        width: 50%;
        background: linear-gradient(135deg, #f03737 0%, #d40001 100%);
        color: #FFF;
      }
    }

  }
  .search-history {
    .history-head {
      width: 100%;
      height: 82px;
      padding: 24px 66px;
      .attach {
        .history-icon {
          position: absolute;
          top: 23px;
          left: 30px;
          width: 28px;
          height: 28px;
          color: #999999;
          font-size: 28px;
        }
      }
      .history-text {
        display: inline-block;
        font-size:28px;
        color: #999999;
        height: 28px;
        line-height: 28px;
        vertical-align: text-top;
      }
    }
    .history-result {
      .history-items {
        background: #FFF;
        padding-left: 30px;
        .history-item {
          padding: 28px 0px;
          font-size: 32px;
          color: #666666;
          border-bottom: 1px solid #E6E6E6;  /*no*/
          &:last-child {
            border: none;
          }
          &:hover {
            background-color: #F5F5F5;
          }
        }
      }
    }
  }
  .search-blur-result {
    position: absolute;
    .search-blur {
      .blur-items {
        background: #FFF;
        padding-left: 30px;
        .blur-item {
          padding: 28px 0px;
          font-size: 32px;
          color: #666666;
          border-bottom: 1px solid #E6E6E6;  /*no*/
          &:last-child {
            border: none;
          }
          &:hover {
            background-color: #F5F5F5;
          }
        }
      }
    }
  }
  .search-no-result {

    text-align: center;
    .search-no-result-img {
      margin-top: 300px;
      width: 400px;
      height: 328px;
    }
    .search-no-result-text {
      font-size: 32px;
      color: #BDBDBD;
      margin-top: 50px;
    }
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
