
.return-header-component {
  height: 88px;
  line-height: 88px;
  padding: 0 30px;

  text-align: center;
  border-bottom: 1Px solid #E6E6E6; /*no*/
  .icon-return {
    float: left;
    font-size: 38px;
    color: #333333;
  }
  .header-title {
    vertical-align: top;
    font-size: 36px;
    color: #333333;
    font-family:PingFangSC-Medium;
    font-weight:500;
  }
  .header-btn {
    float: right;
    font-size:32px;
    color: #D40001;
  }
}
