.home-reportRemind-component {
  height: calc(100% - 86px);
  overflow-y: auto;
  background-color: #F5F5F5;
  .reportRemind-list {
    background-color: #FFF;
    .reportRemind-item {
      display: flex;
      padding-left: 30px;
      .left-part {
        vertical-align: top;
        padding-top: 28px;
        .left-img {
          display: inline-block;
          width: 60px;
          height: 60px;
          background-position: center center;
          background-size: 60px 60px;
          background-image: url(../../images/normal_head@2x.png);
        }
      }
      .right-part {
        width: 640px;
        margin-left: 20px;
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #E6E6E6;
        .first-row {
          display: flex;
          justify-content: space-between;
          font-size: 26px;
          color: #BDBDBD;
          .report-name {
            .name {
              margin-right: 20px;
              color: #333;
            }
          }
          .time {
            margin-right: 30px;
            font-size: 24px;
          }
        }
        .title {
          margin: 24px 0;
          font-size: 30px;
          color: #333;
        }
        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 24px;
          color: #333;
        }
      }
    }
  }
}
