/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BDBDBD;
}

// /*Change text in autofill textbox*/
input:-webkit-autofill {
    // -webkit-text-fill-color: #333333 !important;
}
